body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(88, 88, 88);
}
.wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1000px;
    margin:0 auto;
    background:#fffbfb ;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
aside{
    width:370px ;
    background: #6e9cc7;
  
    
}
.cv-photo{
    margin-top: 25px;
    margin-left: 0;
    
}
.header-secondary{
    color: white;
}
.contact-links{
    color: white;
}
.bold{
    font-weight: 700;
}
.list-secondary{
    color: #FB6D3A;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.list-secondary-item{
    color: white;
}
.contact-block{
   margin-top: 51px; 
   margin-left: 40px;
}
main{
    padding: 102px 88px 102px 88px;
}
.main-description{
    width: 400px;
}
.job-title{
    font-size:14px ;
    font-weight: 700;
    line-height: 17px;
}
h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}
.description{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
}
.projects{
    width: 485px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 51px;
}
.list-primary{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: black;
    padding-left: 0;
    list-style-position: inside;
}
.list-primary-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#595959;
    text-decoration: none;
}
.header-primary{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: rgb(0, 0, 0);

}
.job-posision{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.slowa{
    color: #FB6D3A;
}
.contact-block1{
    margin-top: 21px; 
    margin-left: 40px;
}
